@model Company

<div class="col-12 text-center">
    <h2 class="text-white py-2">@(Model.Id != 0 ? "Update" : "Create") Company</h2>
</div>

<div class="card-body p-4">
    <form method="post" class="row" enctype="multipart/form-data">
        <input asp-for="Id" hidden />
        <div class="row">
            <div class="col-12">
                <div class="mb-3 row p-1">
                    <label asp-for="Name" class="p-0"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="PhoneNumber" class="p-0"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="StreetAddress" class="p-0"></label>
                    <input asp-for="StreetAddress" type="number" step="0.01" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="City" class="p-0"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="PostalCode" class="p-0"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">
                            @(Model.Id != 0 ? "Update" : "Create")
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Back to list
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

        
    </form>

</div>
@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
