@model IEnumerable<Dog>

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="text-primary">
                Dog List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Dog" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Dog
            </a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>Breed</th>
                <th>Description</th>
                <th>SKU</th>
                <th>List Price</th>
                <th>Gender</th>
                <th>Type of breed</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/dog.js"></script>
}